
<div class="">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand" href="#">EsgiAspectize</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Product</a></li>
        <li><a href="#/sales">Sales</a></li>
        <li><a href="#">HumanResources</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Parameters</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
    <div ng-include src="'views/products.html'"></div>
<div>
</div>
